In [6]:
from backends import PostgresBackend
import pandas as pd
import psycopg2
import geopandas as gpd
from shapely import wkb
from shapely.geometry import Point
import numpy as np

In [11]:
def moment_calc(df):
	#Calculate the centroid
	centroid = Point([np.mean(np.array([i.coords.xy[0][0] for i in df['geom']])),
					  np.mean(np.array([i.coords.xy[1][0] for i in df['geom']]))])
	#Return mean distance to centroid (in degrees)
	return np.mean([i.distance(centroid) for i in df['geom']])


def query_method(keys):
	
	query = """
	SELECT """ + ','.join(keys)+ """
	FROM incidentaddress
    limit 1000
	"""

	with PostgresBackend(dict(service='nfirs')) as backend:
	    results = backend.query(query=query).fetchall()

	#storing all the values into a dictionary and then into a pandas dataframe
	d = {}
	for key, value in enumerate(keys):
		d[value] = [results[i][key] for i in range(len(results))]

	df = pd.DataFrame(d)
	df.dropna(inplace=True)
	df['geom'] = df['geom'].apply(lambda x: wkb.loads(x, hex=True))

	return df


#Perform the query
df = query_method(keys=['fdid', 'state', 'geom'])
#Group by departments and calculate average distance (moment)
df = df.groupby(['fdid','state']).apply(lambda x: pd.Series({'mean_dist': moment_calc(x), 'count': len(x)})).reset_index()
df.to_pickle('avg_dist')

In [12]:
df = pd.read_pickle('avg_dist')
df

      fdid state  count  mean_dist
0    02111    PA    1.0   0.000000
1    02169    PA    1.0   0.000000
2    02231    PA    2.0   0.000011
3    02290    PA    1.0   0.000000
4    03020    PA    1.0   0.000000
5    03072    FL  211.0   0.082388
6    03090    PA    8.0   0.020111
7    03100    PA   16.0   0.033741
8    03110    PA    1.0   0.000000
9    03130    PA    8.0   0.066834
10   03140    PA   26.0   0.039005
11   03150    PA   12.0   0.024580
12   03180    PA    3.0   0.001993
13   03200    PA    1.0   0.000000
14   03230    PA   10.0   0.056254
15   03250    PA    1.0   0.000000
16   03260    PA    1.0   0.000000
17   03270    PA    2.0   0.000000
18   03300    PA    1.0   0.000000
19   03310    PA    2.0   0.000000
20   06009    PA    1.0   0.000000
21   06051    PA    1.0   0.000000
22   10015    PA    1.0   0.000000
23   14005    PA    1.0   0.000000
24   14013    PA    1.0   0.000000
25   14057    PA    2.0   0.000529
26   15002    PA    1.0   0.000000
27   15351    PA    1.0   0.000000
28   16510    PA    1.0   0.000000
29   21052    PA    1.0   0.000000
..     ...   ...    ...        ...
91   36710    PA    3.0   0.025746
92   36711    PA    2.0   0.028676
93   36715    PA   29.0   0.024919
94   36719    PA    8.0   0.024309
95   46228    PA    1.0   0.000000
96   48010    PA   81.0   0.014810
97   48015    PA    1.0   0.000000
98   48054    PA    2.0   0.011269
99   48061    PA    1.0   0.000000
100  51001    PA    1.0   0.000000
101  54148    PA    1.0   0.000000
102  64001    PA    6.0   0.035454
103  64009    PA   23.0   0.010502
104  64013    PA    2.0   0.000669
105  64067    PA    1.0   0.000000
106  65039    PA    1.0   0.000000
107  65046    PA    1.0   0.000000
108  65049    PA    1.0   0.000000
109  65051    PA    4.0   0.076402
110  65052    PA    1.0   0.000000
111  65053    PA    1.0   0.000000
112  65067    PA    2.0   0.050835
113  65077    PA    1.0   0.000000
114  65079    PA    1.0   0.000000
115  65089    PA    3.0   0.024833
116  65101    PA    1.0   0.000000
117  65102    PA    1.0   0.000000
118  67041    PA    3.0   0.006647
119  67044    PA    1.0   0.000000
120  90009    IA    1.0   0.000000

[121 rows x 4 columns]

     fdid state  count  mean_dist
0   03072    FL   26.0   0.068693
1   36011    PA    2.0   0.004907
2   36013    PA    4.0   0.007767
3   36017    PA    1.0   0.000000
4   36018    PA    7.0   0.014437
5   36035    PA    1.0   0.000000
6   36039    PA   11.0   0.020812
7   36042    PA    1.0   0.000000
8   36071    PA    1.0   0.000000
9   36075    PA    4.0   0.020223
10  36079    PA   24.0   0.018843
11  36110    PA    6.0   0.002253
12  36111    PA    8.0   0.008432
13  36314    PA    1.0   0.000000
14  36711    PA    2.0   0.028676
15  67041    PA    1.0   0.000000